.table-producto {
    max-width: 1200px !important;
    margin: 25px auto;
    .btn-editar {
      margin-right: 10px;
    }
    .img-producto {
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
    .column-description {
      max-width: 250px !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  
  .form-new-producto {
    display: flex;
    flex-direction: column;
    label {
      .title-input {
        margin: 12px 0 5px 0;
      }
      input,
      textarea {
        width: 80%;
      }
      textarea {
        min-height: 80px;
        max-height: 80px;
        font-size: 14px;
      }
      .description-input {
        margin: 0;
        color: #777;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    .container-img-producto {
      display: flex;
      align-items: center;
      column-gap: 20px;
      .img-producto {
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }
  }
  